<div *ngFor="let image of imgMedia" class="card m-5" style="width: 18rem;">
    <img (click)="openMedia('http://localhost:3000/' + image.url.split('\\')[2])" class="card-img-top" [src]="'http://localhost:3000/' + image.url.split('\\')[2]" alt="Card image cap">
    <a #link [href]="'http://localhost:3000/' + image.url.split('\\')[2]" target="_blank"></a>
    <div class="card-body">
        <h5 class="card-title">{{image.title}}</h5>
        <p class="card-text">{{image.description}}</p>
    </div>
</div>

<div *ngFor="let video of videoMedia" class="card m-5" style="width: 18rem;">
    <video (click)="openMedia('http://localhost:3000/' + video.url.split('\\')[2])" controls class="card-img-top" alt="Card image cap" alt="click to view">
        <source [src]="'http://localhost:3000/' + video.url.split('\\')[2]" />
    </video>
    <a #link [href]="'http://localhost:3000/' + video.url.split('\\')[2]" target="_blank"></a>
    <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text">{{video.description}}</p>
    </div>
</div>